/* Your app custom styles here */
.size-22 { font-size: 22px; text-transform: none; }
.size-23 { font-size: 23px; text-transform: none; }
.size-25 { font-size: 25px; text-transform: none; }
.size-29 { font-size: 29px; text-transform: none; }
.size-50 { font-size: 50px; text-transform: none; }

*{
    --main-color: #673ab7;
    --panel-color: #c1aee4; /*#decff8*/
}

/* stripe */
.StripeElement {
    box-sizing: border-box;
  
    height: 40px;
  
    padding: 10px 12px;
  
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

  .cancelSub, .syncButton{
      text-transform: none;
  }

.fab-text{
    text-transform: none;
}

.page-content{
    background-color: white; /*#4d6b84; #d0e1ef;  #dedada; #dee2e6*/
    overflow-x: hidden;
}

.page-content.scrollable{
    overflow: auto !important;
}

/*.page-content .navbar{
    width: calc(100% + 20px);
    margin-left: -10px;
}

.customList .searchbar{
    width: calc(100% + 20px);
    margin-left: -10px;
}*/

.panel.mylinks, .panel.mylinks .page, .panel.mylinks .page-content, 
.panel.mylinks .quicklinks, .panel.mylinks .navbar-bg{
    background: var(--main-color);
    color:white;
}

.quicklinks .item-inner:before{
    display:none !important;
}

.quicklinks.list ul{
    background: var(--main-color);
    color:white;
}

.quicklinks.list ul:before{
    display: none !important;
}

.quicklinks.list .item-inner:after, .quicklinks ul:after{
    display: none;
}

.ContactUs{
    bottom: 5px;
    position: absolute;
    left: calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-left));
    width: 100%;
}

.ContactUs a{
    color:white !important;
}

.navbar-inner .logoname{
    color: var(--main-color) !important;
    font-weight: 700;
    font-size: 1.2em;
    padding-left: 3px !important;
}

.navbar-inner .logoIcon{
    max-width: 70%;
    max-height: 70%;
}

.navbar-inner .link{
    color: black !important;
}

.navbar i{
    color:black;
}

.navbar .link{
    font-size: 0.9em;
}

.popover.my-popover{
    width: auto;
}

.popover-inner a{
    text-transform: none;
    margin: -8px;
    text-align: left;
    color: black;
}

.popover-inner a:hover{
    color: var(--f7-theme-color);;
}

/*.data-table{
    padding: 0 20px !important;
}*/

.data-table table{
    margin-top:10px;
    
}

.data-table thead tr{
    background: grey !important;
}

.data-table thead tr th{
    font-weight: 700;
    font-size: 1em;
    color: white !important;
}

/*.logoName{
    font-size: 1.3em;
    font-weight: 500;
}*/

.panel-left.mylinks .item-link:hover .item-title{
    font-weight: 700;
}

.text-editor{
    border: var(--f7-text-editor-border-width) solid var(--f7-text-editor-border-color) !important;
}

.text-editor-toolbar{
    border-bottom: 0.5px solid darkgray;
}

button.text-editor-button.active{
    background: lightgray;
}
/*.panel .page-content{
    background-color: black;
}*/

#showInvoice{
    width: 100%;
    height: 100%;
    overflow: auto;
    border: none;
}

.popup .item-title, .signParent .item-title{
    font-weight: 500;
    /*letter-spacing: 0.4px;*/
    color: gray;
}

.navbar-inner.sliding{
    background-color: white;
}

.roundHolder{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    /*background-color: white;*/
}

.item-inner .button{
    width:100%;
}

.roundBox{
    background: white;
    padding: 3px 20px;
    color: black;
    border-radius: 10px;
}

.parentWrap{
    height: 90%;
    display: flex;
    width: 100%;
    align-items: center;
}

.parentWrap .item-title{
    font-weight: 600;
    color: inherit;
}

.parentWrap .myCard:hover{
    background:var(--main-color);
}
    
.parentWrap .myCard:hover .item-title{
    color:white;
}

.parentWrap .myCard{
    /*box-shadow: 0px 1px 0px 2px darkgrey;*/
    box-shadow: 0 1px 5px 1px darkgrey;
    /*background: ghostwhite;*/
}

/*.myCard:hover, .myCard:hover .card-footerMine, .myCard:hover .labelName{
    background: var(--main-color);
    color: white !important;
}*/

.fab a{
    background: var(--main-color);
}

.sortTextPar{
    white-space: nowrap;
}

.sortText{
    font-weight: 600;
    margin-right: 3px;
}

.myPurple{
    color: var(--main-color);
}

.page-content .button-outline{
    border:1px solid;
}

.mainButton{
    border: 1px solid var(--main-color) !important;
    background: var(--main-color);
    color: white;
    text-transform: none;
    font-size: 1.1em;
}

.myCard{
    /*box-shadow: 0px 0px 1px 1px darkgrey;*/
    box-shadow: 0 1px 4px 1px darkgrey;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0.8em;
}
.myCard .card-footerMine{
    /*background-color: #0c031d; f9f6ff
    border-top: 0.5px solid darkgray;*
    border-top: 0.2px solid lightgray;*/
    background: #efeded40;
    padding-top: calc(var(--f7-typography-padding) / 2) !important;
    /*background:  ghostwhite;*/
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    /*border-radius: 5px;
    padding: 5px 0;*/
    overflow-x: auto;
}

.card-footerMine .button{
    background: white;
}

.myCard .card-content{
    /*8background-color: #0c031d;*/
    padding-top:5px;
    padding-bottom:5px;
}

.myCard .button, #savecompanyinfo1{
    font-weight: 500;
    /*font-size: 1em;*/
    margin-right: 5px;
    text-transform: none;
    letter-spacing: 0px;
    border: 0.1px solid;
    color: gray;
    /*box-shadow: 0px 0px 2px 0px;*/
}

#showPwdSignUp, #showPwdSignIn{
    cursor: pointer;
}

#password, #passwordSign{
    margin:0 !important;
    padding: 0 !important;
}

.deleteProduct, .deleteButton, .deleteSale, .deleteExpense, .removeCost, .removeProduct, .removeRow{
    color:red !important;
}

.permDelButton{
    background: red !important;
    color: white !important;
    border-color: red !important;
}

.myCard .badge{
    margin-bottom: 4px;
    font-weight: 600;
}

.myCard .badge.color-green{
    background: green !important;
}

.bigLabel{
    font-size: 1.3em;
    text-align: center;
}

.sellMultiple{
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 0px;
    text-transform: none;
    /*color: var(--main-color);*/
    border: 1px solid;
    /*box-shadow: 0px 1px 3px 1px var(--main-color)94;*/
}

.viewRestockHistory{
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 0px;
    text-transform: none;
    color: white;
    /*border: 1px solid;*/
    /*box-shadow: 0px 1px 3px 1px #673ab794;*/
}

.btn-blue, .customcharges{
    font-weight: 500 !important;
    font-size: 1.2em !important;
    letter-spacing: 0px;
    text-transform: none;
}

.reportAllButtons{
    flex-wrap: wrap;
    justify-content: center;
}

.reportAllButtons a{
    margin-right: 5px;
    font-size: 0.8em;
    margin-top: 5px;
    text-transform: none;
}

/*#myChart{
    width:80%;
    height: 500px;
}*/

#allTables{
    width: 96%;
    overflow: auto;
}

#allTables .eachChild{
    border-bottom: 1px solid lightgray;
}

.chartHolder{
    display: flex;
    justify-content: center;
    overflow: auto;
}

#allTables table{
    border-collapse: collapse;
    width: 100%;
}

#allTables th, #allTables td{
    border: 1px solid lightgray;
}

.estimateExplain{
    font-size: 1.2em;
    vertical-align: text-bottom !important;
    margin-left: 2px;
}

.switchEstimate{
    border: 1px solid var(--main-color) !important;
    color: var(--main-color) !important;
    font-weight: 700;
}

.header_title{
    color: dimgray;
}

.button .f7-icons, .paid{
    vertical-align: bottom !important;
}

.settingsInput, .myCard input[type="text"], .item-input-wrap input[type="text"]:not(.specSearch){
    border-bottom: 1.2px solid var(--main-color) !important;
    padding: 2px 5px !important;
    margin-top: 2px !important;
}

.eachCostParent input, .extraCostRow input, .profitvalue{
    border-bottom: 0.5px solid darkgrey !important;
}

.compName{
    font-size: 1.2em;
    color:#007aff;
    display: inline-flex;
    width: 100%;
    font-weight: 600;
    justify-content: center;
}

.cardName{
    font-size: 1.05em;
    font-weight: 700;
    padding-bottom: 3px;
}

.labelName{
    font-weight: 400;
    /* letter-spacing: 0.4px; */
    color: gray;
}


.valueName{
    font-weight: 400;
    font-size: 1em;
    vertical-align: baseline;
}

.valueName .icon{
    font-size: 1em;
    vertical-align: baseline;
    color:black;
}

.valueBold{
    font-weight: 500;
}

.envelope{
    margin-right: 3px;
}

.phone{
    margin-right: 1.5px;
}

.myGreen{
    color:forestgreen;
}

.button-green{
    color:forestgreen;
    border:1px solid;
}

.list.autocomplete-list{
    margin-top: 2px !important;
}

.customList .searchbar-input-wrap{
    width: 99%;
    margin: auto;
}

.searchbar-input-wrap input, .darkSearch{
    padding: 5px 0 !important;
    font-size: 1.1em !important;
    text-align: center !important;
    background: white !important;
    color: #000!important;
    font-weight: 600!important;
    border: 1.5px solid var(--main-color)!important;
    border-radius: 15px!important;
    margin-top: 5px;
}

.searchbar-input-wrap .searchbar-icon:after{
    color:black !important;
}

.searchbar-input-wrap .input-clear-button:after{
    color:red !important;
}

.searchbar-input-wrap input::placeholder, .darkSearch::placeholder{
    color:black !important;
}

.customList .sort:not(th){
    border-radius: 3px;
    padding: 5px;
    box-shadow: 0px 0px 0px 1px;
    margin: 5px 2px;
    cursor: pointer;
    color: black;
    font-weight: 400;
}

.customList .sort{
    cursor: pointer;
}

.sort .icon{
    font-size: 1.2em;
    margin-left: 2px;
}

.data-table tbody tr:hover{
    background: #dbccf5 !important; /*var(--main-color);
    color: white !important;*/
}

.buttonSpan{
    font-weight: 400;
    font-size: 1.35em;
    text-transform: none;
}

.eachRow td{
    text-align: center;
}


.costvalue, .profitpercent, .profitvalue{
    padding: 3px !important;
    text-align: center;
    width:60% !important;
    margin: auto !important;
}

.costvalue{
    margin-left: 2px !important;
    margin-right: 2px !important;
}

.total_sell, .totalproductprice{
    background-color: #f5f5f5 !important;
    font-weight: 600;
}

.extraCostRow .extraName, .extraCostRow .eachCost{
    padding: 3px !important;
    width:100%;
}

.extraCostRow .eachCost, .extraName{
    text-align: center;
}

.myOrange .item-inner:before{
    color: white !important;
}

.myOrange .text-color-blue .item-inner:before{
    color: blue !important;
}

.ruleUnder{
    color: black;
    border-bottom: 1px solid darkgray;
    font-weight: 400;
    padding: 3px !important;
}

.dashText{
    font-weight: 500 !important;
    font-size: 1.5em !important;
}

.sortList, .grouped{
    list-style: none;
    padding:0 !important;
}

.myToolbar{
    align-items: center;
}

.myToolbar .display-inline-flex{
    align-items: center;
}

.specWrap{
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px darkgrey;
    margin: 13px auto;
}

.specWrap .item-input-wrap{
    min-height: 2.5em;
}

.specClear{
    right:25px;
}

.specSearch{
    width: 100%;
    text-align: center;
    font-size: 1.2em !important;
    font-weight: 500;
    left: 0;
    bottom: 7px;
    position: absolute;
}

.dash .card-content{
    font-size: 1.3em;
    text-align: center;
    font-weight: 600;
    color:#2196f3;
}

.dash .card{
    margin: 2px 1px;
}

.filterbydate{
    box-shadow: 0px 0px 1px 1px darkgrey;
    border-radius: 15px;
}

.pagination li{
    display: inline-block;
    padding: 2px 13px;
    color: #2196f3;
    border: 1px solid #2196f3;
}

.pagination li.active{
    font-weight: 900;
    background-color: #2196f3;
    color: white;
}

.pagination li:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .pagination li:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

.pagination .page{
    position: relative;
    color: inherit;
    font-size: 1.3em;
    background: inherit;
}

/*.eachProduct{
    border: 1px solid lightgray;
    border-collapse: collapse;
    margin: 7px auto;
}

.eachProduct td{
    border: 1px solid lightgray;
    padding: 3px;
}

.eachProduct th{
    padding: 3px;
}

.eachProduct tbody tr:first-of-type td{
    font-weight: 500;
}*/

/*.signingInput{
    border: 1px solid #673ab7;
    border-radius: 5px;
}*/

.signParent{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.signParent ul:before, .signParent ul:after{
    display: none !important;
}

.signParent form{
    border-radius: 5px;
    width: 95%;
    box-shadow: 0px 0px 1px 2px lightgrey;
}

.my-actions{
    overflow: hidden;
}

.panel-left.mylinks{
    width:220px;
}

.sellMultParent, .viewRestockHistoryParent{
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.vertical-align-super{
    vertical-align: text-top;
}

/* A bit of demo styles */
.demo-swiper .swiper-slide {
    font-size: 25px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #fff;
    color: #000;
  }
  .demo-swiper .swiper-slide {
    box-sizing: border-box;
    /*border: 1px solid #ddd;*/
    background: #fff;
  }
  .demo-swiper {
    margin: 0px 0 35px;
    font-size: 18px;
    height: 70vh;
  }

  .swiper-pagination{
      bottom: 0 !important;
  }

  .expenseWrapper .images{
      width: 100%;
      max-width: 100%;
  }

  .holderSwiper{
      height: 80%;
      overflow: auto;
  }



@media only screen and (min-device-width : 1030px)   
/* and (max-device-width : 1024px)  */
{ /* STYLES GO HERE */
    #app{
        /*width: 70%;*/
        margin: auto;
        /*border-left: 5px ridge;
        border-right: 5px ridge;*/
    }
    .parentWrap{
        width: 90%;
        margin: auto;
    }
    body{
        background-color:#dee2e6;
    }
    /*.viewRestockHistoryParent, .sellMultParent,*/
    .myToolbar, .list.sortList, .sortTextPar, .dash, .dashText, 
    .viewRestockHistoryParent, .sellMultParent, .specWrap, .pagination{
        padding: 0 15px !important;
    }
    .myCard{
        margin-left: 0px;
        margin-right: 0px;
    }
    .filterDateParent{
        padding: 0 25px !important;
    }
    .sellMultParent, .viewRestockHistoryParent{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .chartHolder{
        height: 500px;
        width: 500px;
        margin: auto;
    }
    .popup .page-content{
        width: 80%;
        margin: auto;
        /*border-left: 0.5px solid #673ab7;
        border-right: 0.5px solid #673ab7;*/
        box-shadow: 0px 0px 4px 0px;
    }
} 
